<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../../static/index/css/main.css">
    <link rel="stylesheet" href="../../../../static/index/css/swiper.css">
    <link rel="stylesheet" href="../../../../static/index/css/font.css">
    <link rel="stylesheet" href="../../../../static/index/layui/css/layui.css?t=1598935358940" media="all">
    <title>分析图表</title>
</head>



<body style="background-color:#F1F1F1">
 {% for data in all_data %}
 <ul>
     <li style="text-align: center"><img src="{{data.analyse_data}}" alt=""></li>&nbsp
     <li style="text-align: center;font-size: 17px">statistics data</li>
     <span style="margin-left: 25%;font-size: 17px">median : {{data.median}}</span>
     <span style="margin-left: 25%;font-size: 17px">&nbsp&nbspquartile : {{data.quartile}}</span><br /><br />
     <span style="margin-left: 25%;font-size: 17px">eight_bit : {{data.eight_bit}}</span>
     <span style="margin-left: 25%;font-size: 17px">sixteen_bit : {{data.sixteen_bit}}</span>
     <li style="text-align: center">&nbsp</li>
 </ul>
 {% endfor %}


</div>

</body>

<script src="../../../../static/index/js/jquery.js"></script>
<script src="../../../../static/index/js/swiper.js"></script>
<script src="../../../../static/index/layui/layui.js"></script>
<script>
    function goForward() {
        window.history.back()
    }



    $(function () {
        time = timeChange($(".time").text());
        $(".time").text(time)
    });

    function timeChange(time) {
        time = parseInt(time + '000')
        var date = new Date(time);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
        var Y = date.getFullYear() + '-';
        var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var D = date.getDate() + ' ';
        var h = date.getHours() + ':';
        var m = date.getMinutes() < 10 ? '0' + date.getMinutes() + ':' : date.getMinutes() + ':';
        var s = date.getSeconds();
        return Y + M + D + h + m + s;
    }
</script>
</html>